<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    <div style="width: 50%; margin: auto;">
        <%- include('./composants/header.ejs') %>
        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quod corrupti voluptatem quo quibusdam. Deleniti eligendi esse recusandae quibusdam explicabo corrupti illum harum impedit ducimus natus corporis accusantium vitae consequatur libero mollitia consectetur, atque vel quidem ad! Sapiente nihil quae consectetur, similique ex assumenda earum reiciendis facere officia eos numquam, voluptatem suscipit ipsum dignissimos natus unde doloribus aperiam, quidem magni saepe! Vitae sapiente tempora fugit dolor aperiam. Mollitia voluptatibus porro ex cum maxime, veniam, consequatur inventore distinctio voluptates illum in dolor est pariatur cumque ducimus! Consectetur accusamus eum, iure totam inventore repellat provident cupiditate molestias veniam deleniti, exercitationem impedit aspernatur?</p>
        </section>
    </div>
</body>
</html>